/* TOP */

.main {
    position: absolute;
    margin-top: 10px;
    width: 100%;
    height: 100px;
    background-color: rgb(214, 22, 22);
}

.main-1 {
    position: absolute;
    margin-top: 10px;
    width: 50%;
    height: 100px;
    background-color: black;
}

.main-2 {
    position: absolute;
    margin-top: 10px;
    margin-left: 50%;
    width: 50%;
    height: 100px;
    background-color: rgb(185, 184, 184);
}

.logoMarvel {
    position: relative;
    z-index: 1;
    width: auto;
    height: 70px;
    margin-top: 15px;
}


/* SEARCHER */

.searcher {
    padding-top: 125px;
}

.form-control {
    border-color: black;
}

.input-searcher {
    border-radius: 10px;
    box-shadow: -2px 0 15px rgb(0, 0, 0);
}

.fs-2 {
    font-weight: 400;
}


/* CHARACTERS CARDS*/

.characterCard {
    position: relative;
    top: 50px;
    margin-left: 40px;
}
  
.card {
    height: 280px;
    width: 200px;
    background-color: #832129;
    border-radius: 10px;
    box-shadow: -5px 0 17px rgb(0, 0, 0);
    transition: 1s ease-out;
    position: relative;
    z-index: 1;
    margin-left: -50px;
}
  
.card:hover {
    transform: translateY(-20px);
    transition: 1s ease-out;
}

.card:hover ~ .card {
    position: relative;
    left: 50px;
    transition: 1s ease-out;
}
  
.title-card {
    width: 150px;
    height: auto;
    position: relative;
    z-index: 1;
    margin-block-start: auto;
    margin-bottom: 6px;
    margin-left: 8px;
}

.title {
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 23px;
}

.id-card {
    width: 150px;
    height: auto;
    position: relative;
    z-index: 1;
    margin-bottom: 10px;
    margin-left: 8px;
}

.id {
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 15px;
}


.image {
    position: absolute;
    width: 185px;
    height: 265px;
    margin-left: -6px;
    margin-top: 6px;
    border-radius: 7px;
}

.image-degradado {
    position: absolute;
    width: 185px;
    height: 265px;
    margin-left: -6px;
    margin-top: 6px;
    border-radius: 7px;
    background: linear-gradient(1deg, rgb(0 0 0)0%, rgb(0 0 0 / 65%) 30%, rgb(255 255 255 / 0%) 100%);
}

  
.bar {
    position: absolute;
    top: 238px;
    left: 20px;
    height: 5px;
    width: 150px;
}
  
.emptybar {
    background-color: #ffffff;
    width: 100%;
    height: 100%;
}
  
.filledbar {
    position: absolute;
    top: 0px;
    z-index: 3;
    width: 0px;
    height: 100%;
    background: rgb(0,154,217);
    background: linear-gradient(90deg, rgb(210 22 22) 0%, rgb(219 204 20) 65%, rgb(234 116 15) 100%);
    transition: 0.6s ease-out;
}
  
.card:hover .filledbar {
    width: 120px;
    transition: 0.4s ease-out;
}

/* Error searcher */

.error {
    margin-left: -50px;
}

/* CHARACTER INFORMATION */

.container-character {
    position: absolute;
    margin-top: 30px;
    width: 100%;
    height: 275px;
    background-color: black;
    box-shadow: 0 0 15px 0px black;
}

.specific-character-image {
    width: fit-content;
    height: 275px;
}

.column-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.specific-character-title {
    color: white;
    font-weight: 500;
}

.specific-character-description {
    color: white;
}


/* COMICS & SERIES CARDS*/

.containerCards {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: auto;
    margin-top: 345px;
    box-shadow: 0 0 35px 0px black;
}

.principal {
    margin-top: 20px;
    margin-left: 25px;
    margin-bottom: 10px;
}

.principal-title {
    font-weight: 500;
}

.division {
    width: 95%;
    height: 5px;
    background-color: black;
    border-radius: 15px;
    margin-bottom: 25px;
    margin-left: 35px;
    box-shadow: 0 0 28px 1px black;
}

.cards {
    margin: 0px 15px 15px 15px;
}

.cards-image {
    width: 185px;
    height: 265px;
    margin-bottom: 9px;
    box-shadow: 0 0 30px -10px black;
}

.cards-image:hover {
    transform: translateY(-10px);
    transition: 1s ease-out;
    box-shadow: 0 0 80px -10px black;
}

.cards-title {
    font-size: 16px;
    font-weight: 500;
}